* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: OpenSans;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.receipt {
    display: none;
}
.receipt input {
    background-color: gray;
}
.panel {
    display: block;
}
#checkmark {
    position: absolute;
    transform: translateX(-50%);
    width: 67px;
    mix-blend-mode: multiply;
    left: 50%;
    top: 30px;
}

#amount {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 103px;
    font-size: 34px;
    font-family: OpenSans;
}
#amount span {
    font-family: Dewi;
}
#transferred {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    font-size: 14px;
    font-weight: 0;
    opacity: .5;
}

#points {
    display: block;
    position: absolute;
    left: 50%;
    top: 185px;
    transform: translateX(-50%);
    width: 210px;
    font-size: 15px;
    background-color: #FEE0DF;
    color: #CD0A01;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

#section {
    display: block;
    position: relative;
    padding: 25px;
    margin-top: 35px;
    height: auto;
}

#section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; /* Adds space between lines */
}

#section .row span {
    display: inline;
    font-size: 14.5px;
    opacity: 0.8;
}

#section .row span.label {
    display: inline;
    text-align: left;
    color: #787878;
    width: 50%;
}

#section .row span.value {
    display: inline;
    text-align: right;
    font-family: OpenSansBold;
}

.sl {
    width: 25px;
    left: 25px;
    position: relative;
}

#bottomnav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15%;
    width: 100%;
    box-shadow: 0px 0px 20px #88888897;
    z-index: 999;
    background-color: white;
}

#bottomnav img {
    width: 95%;
    padding: 10px;
}

.ad {
    width: 100%;
    bottom: 30px;
    position: relative;
}

@font-face {
    font-family: OpenSans;
    src: url(/assets/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansCondensed;
    src: url(/assets/OpenSans_SemiCondensed-Regular.ttf);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(/assets/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(/assets/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Dewi;
    src: url(/assets/RFDewi-Bold.ttf);
}

input, select, button {
    width: 250px;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}